
body {
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);

   background-attachment: fixed;
    font-family: 'Roboto';
    padding: 10px;
}

.jumbotron {
    background: rgba(209, 238, 249, 0.5); 
    padding: 30px;
    margin: 30px 20% 20px 20%;
    
}
.neoris-imagen{
    display:none;
    width: 700px;
   
    
    margin: 20px;
}

.neoris-imagen:hover{
    transform: scale(1.06); transition: all .2s ease-in-out; 
}

.subtitulo{
    color: white;
    margin-bottom: 20px;
}
h5{
    margin-bottom: 30px;
}
.container{
    border-radius:  20px;
}
.btn{
    margin-left: 4px;
    transition: all .2s ease-in-out; 
}

.btn:hover{
    transform: scale(1.06); 
    
}
.table{
    margin-top: 30px;
    background: rgba(209, 238, 249, 0.5); 
    border-radius: 1em; 
}

.titulo{
    text-transform: uppercase;    
    font-weight: 700;
    
    padding-bottom: 1rem;
}

.dropdown-regiones{
    width: 50px;
}
 #divMensaje{
    margin-top: 20px; 
 }

span#mensaje{
    border: solid 1px grey;
    padding: 10px;    
    border-radius: 10px;
   
    
    box-shadow: 3px 6px 4px .5px rgba(128,126,128,0.21);
}


tr:hover{
    background: #A2EAF4;
  
}

