
body {
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);

   background-attachment: fixed;
    font-family: 'Roboto';
    padding: 10px;
}

.jumbotron {
    background: rgba(209, 238, 249, 0.5); 
    padding: 30px;
    margin: 30px 20% 20px 20%;
}
.btn{
    margin-left: 4px;
}
.table{
    margin-top: 30px;
    background:RGBA(0, 223,254, 0.1);
    
    border-radius: 1em; 
}

.titulo{
    text-transform: uppercase;    
    font-weight: 700;
    text-shadow: .02rem .02rem .08rem black;
    padding-bottom: 1rem;
}

.dropdown-regiones{
    width: 50px;
}
 #divMensaje{
    margin-top: 20px; 
 }

span#mensaje{
    border: solid 1px grey;
    padding: 10px;    
    border-radius: 10px;
   
    
    box-shadow: 6px 10px 9px 1px rgba(128,126,128,0.21);
}


tr:hover{
    background: #A2EAF4;
}

